{% extends 'base.html' %}

{% block title %} Cuadros  {% endblock %}
  {% block content %}

{% block body %}
    <div class="container">

      <div class="starter-template" id="py">
        <h1>Inicio Museo Unisabana</h1>
        <p class="lead">Pagina principal museo usabana.</p>
              <section id="cont">
                <img src="static/img/1.jpg">
                <img src="static/img/2.jpg">
                <img src="static/img/3.jpg">
                <img src="static/img/4.jpg">
                <img src="static/img/5.jpg">
                <img src="static/img/6.jpg">
              </section>
{% endblock %}
    </div><!-- /.container -->
<script type="text/javascript" src="static/js/animacion.js"> </script>
{% endblock %}